@model MvcApplication2.Models.Rotacion
@{
    ViewBag.Title = "IPS";
}
<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Inicio", "VistaDepartamentoSalud/", "DepartamentoSalud")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Hoja de Vida<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Estudiante", "BuscarEnDepartamento/", "Estudiante")</li>
                            <li>@Html.ActionLink("Docente", "BuscarEnDepartamento/", "Docente")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Listado estudiantes", "EstadoHVdepto/", "Estudiante")</li>
                            <li>@Html.ActionLink("Listado docentes", "EstadoHVdepto/", "Docente")</li>

                        </ul>
                    </li>
                    <li>@Html.ActionLink("Rotación", "SeleccionRotacion/", "Rotacion")</li>
                    <li>@Html.ActionLink("Carta Presentación", "SeleccionRotacionCarta/", "IPS_ESE")</li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
    {
        <script>alert("@ViewBag.AlertMessage");</script>

    }

    <div class="container" id="wrap">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <fieldset>

                    <fosrm action="r" method="post" accept-charset="utf-8" class="form" role="form">
                        <legend>Carta de presentación</legend>


                        <h4>Seleccione los campos:</h4>
                        <div class="row">

                            <div class="form-group">
                                <h5><label class="col-sm-3 control-label">IPS/ESE</label></h5>
                                <div class="col-xs-6 col-md-7">

                                    @Html.DropDownList("IPS_ESEId", (IEnumerable<SelectListItem>)ViewBag.IPS_ESEId, new { @class = "form-control input-lg" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <h5><label class="col-sm-3 control-label">Programa</label></h5>
                                <div class="col-xs-6 col-md-7">

                                    @Html.DropDownList("programaId", (IEnumerable<SelectListItem>)ViewBag.programaId, new { @class = "form-control input-lg" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <h5><label class="col-sm-3 control-label">Departamento</label></h5>
                                <div class="col-xs-6 col-md-7">

                                    @Html.DropDownList("DepartamentoSaludId", (IEnumerable<SelectListItem>)ViewBag.DepartamentoSaludId, new { @class = "form-control input-lg" })
                                </div>
                            </div>
                        </div>
                        <br >

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Fecha Inicio</label>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.fecha_inicio)
                                @Html.ValidationMessageFor(model => model.fecha_inicio)





                            </div>
                        </div>
                        <br />
                        <br />

                       
                        <!-- Email input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email">Fecha Terminación</label>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.fecha_terminacion)
                                @Html.ValidationMessageFor(model => model.fecha_terminacion)
                            </div>
                        </div>










                        <br />
                    
                        <br />
                        <br />

                        <br />
                        <span class="help-block">A través de este formulario podrá visualizar las cartas de presentación realizadas a las distintas IPS/ESE de acuerdo a la fecha elegida</span>

                        <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit" name="submitbutton1" formtarget="_blank">Ver y Enviar</button>
                        <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit" name="submitbutton2" formtarget="_blank">Ver</button>                            </fieldset>

            </div>




        </div>
    </div>

}


