@model MvcApplication2.Models.LoginModel

<link href="{! URLFor ($ Resource.BootstrapZip, 'bootstrap / bootstrap.min.css')}"
      rel="stylesheet" />


@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Vacunas" class="logoUcaldas" src="../../images/Logo Universidad Dorado Grande.png" height="40">
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-uppercase" href="#">Docencia Servicio   </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Proyecto/Home/Index">Inicio</a></li>
                    <li><a href="/Proyecto/Home/Contact">Quiénes somos</a></li>
                    <li><a href="#"></a></li>
                   
                    

                </ul>
            </div>
        </div>
    </nav>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="content">
                        <div class="pull-middle">
                            <h2 class="page-header">Login administrativo </h2>
                            <p class="lead">Docencia Servicio.</p>
                            <div class=" panel-default">
                                <div class="panel-body">
                                    <form action="#" role="form">
                                        <div class="form-group">
                                            <div style="margin-bottom: 5px" class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Usuario" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.UserName)
                                        </div>
                                        
                                            
                                            <div style="margin-bottom: 5px" class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                                                
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Password)

                                        <div class="form-group"></div>


                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success btn-sm">
                                                    Ingresar
                                                </button>
                                                <button type="reset" class="btn btn-default btn-sm">
                                                    Limpiar
                                                </button>
                                            </div>
</form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
                    <div>
                        <img class="img-responsive img-rounded" src="../../images/fondo3.png" heigth="1000" width="1000">
                    </div>
                </div>*@
            </div>
        </div>
    </header>
    
   
    
</div>
}